.eventMonth {
	margin-bottom: 20px;
}

.eventMonth>h2 {
	padding-left: 4px;
	margin-bottom: 2px;

	font-size: 17px;
	text-transform: uppercase;
}

.eventMonth>p {
	padding: 2px 4px;
	font-size: 16px;
	border-radius: 5px;

	cursor: pointer;
}

.eventMonth>p:hover {
	background-color: #fff1;
}

.eventMonth>p:active {
	color: #fffa;
	background-color: #ffffff0a;
}