.App {
	width: 100%;
	height: 100%;

	background-color: hsl(220deg 5% 12%);

	display: grid;
	grid-template-areas:
		"header header"
		"view   sidebar";
	grid-template-rows: 50px 1fr;
	grid-template-columns: 1fr 400px;
}

.AppHideSidebar {
	grid-template-areas:
		"header"
		"view";
	grid-template-columns: 1fr;
}

/* Header */

header {
	padding: 0 15px;

	background-color: hsl(220deg 5% 18%);
	border-bottom: 1px solid #fff3;

	grid-area: header;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	font-size: 24px;
}

.headerActions {
	display: flex;
	gap: 10px;
}

.headerTab {
	height: 25px;
	padding: 5px 10px;

	border-radius: 50px;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.headerTab>span,
.headerTab>h1 {
	font-size: 20px;
	color: #fff9;
}

.headerTab:hover>span,
.headerTab:hover>h1 {
	color: #fffc;
}

.headerTab:active>span,
.headerTab:active>h1 {
	color: #fff7;
}

.headerTabSelected {
	background-color: #fff1;
}

.headerTabSelected>span,
.headerTabSelected>h1 {
	color: white !important;
}

/* Views */

.view {
	padding: 20px;
	padding-left: 40px;

	grid-area: view;
}

/* Sidebar */

.sidebar {
	margin: 20px;
	padding: 10px;

	background-color: hsl(220deg 5% 18%);
	border-radius: 10px;

	grid-area: sidebar;

	display: flex;
	flex-direction: column;
	gap: 5px;
}

.sidebar>h1 {
	font-size: 20px;
}

.sidebar>h2 {
	margin-top: 10px;

	font-size: 18px;
}

.sidebarCheckbox>h3 {
	font-size: 14px;
}

.sidebarRow {
	display: flex;
	align-items: center;
	gap: 10px;
}

.sidebarCheckbox {
	cursor: pointer;

	display: flex;
	align-items: center;
	gap: 3px;
}

.sidebarRow>input[type="checkbox"]:not(:first-child) {
	margin-left: 10px;
}

.sidebar input[type="date"],
.sidebar input[type="time"] {
	height: 20px;
}

.sidebar select {
	padding: 0;
}

.sidebar textarea {
	resize: none;

	flex-grow: 1;
}

.sidebar input[type="submit"] {
	background-color: hsl(220deg 45% 50%);
	font-weight: bold;
	cursor: pointer;
}

.sidebar input[type="submit"]:hover {
	background-color: hsl(220deg 45% 53%);
}

.sidebar input[type="submit"]:active {
	background-color: hsl(220deg 45% 45%);
}